{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
    <section class="register-page">
        <h2>Załóż konto</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Imię">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Hasło">
            <button class="btn" type="submit">Zarejestruj się</button>
        </form>
    </section>
{% endblock %}
